# Dependencies
node_modules/
**/node_modules/

# Local Data
data/
**/data/

# Build Outputs
app/out/
out/
app/dist/
app/release/
app/build/
server/dist/
server/build/

# Python Cache
__pycache__/
**/__pycache__/
*.py[cod]
*.class
server/.Python
server/env/
server/venv/
server/.venv/
venv/
env/
.env/

# Cache & Temporary Files
.vite/
app/.vite/
.DS_Store
Thumbs.db
*.log
app/*.log
app/.tmp/
app/*.tsbuildinfo
app/.electron-vite/

# Environment
.env
.env*

# IDE
.vscode/
.idea/
*.suo
*.sln
*.sw?
