@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "./styles/fonts.css";
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/buttons.css";
@import "./styles/scrollbars.css";
@import "./styles/menu.css";
@import "./styles/animations.css";
@import "./styles/utilities.css";
